*{
    margin:0px;
    padding:0px;
    font-family: 'Poppins', sans-serif;
    box-sizing:border-box;
}

.container{
    width: 100%;
    height:100vh;
    background: linear-gradient(135deg, #cc0044, #ffb3cc);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}


.controls{
    display: flex;
    justify-content:space-evenly;
    padding: 10px;
}

.controls nav{
    display: flex;
    align-items: center;
    list-style: none;
}
.music-player{
background: #660066;
width:400px;
min-height: 60vh;
padding: 25px 35px;
text-align: center;
border-radius: 10px;
}

.music-player button{
    margin-bottom: 60px;
    outline: none;
    border: 1 px solid black;
    border-radius: 50%;
    padding : 5px;
    background: transparent;
    color:#fff;
    cursor: pointer;
    box-shadow: 5px solid black;
}